<ion-card>
  <ion-card-header>
    Address
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-input type="text" name="address" [(ngModel)]="user.address" placeholder="Address" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="city" [(ngModel)]="user.city" placeholder="City" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-select name="state" placeholder="State" [(ngModel)]="user.state" required>
          <ion-option *ngFor="let state of states" [value]="state.abbreviation">
            {{ state.name }}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input type="number" name="zipCode" maxlength="5" [(ngModel)]="user.zipCode" placeholder="ZipCode" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" name="email" pattern="\S+@\S+" [(ngModel)]="user.email" placeholder="Email" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="tel" disabled="{{disabled}}" [pattern]="phoneRegex" name="phone" [(ngModel)]="user.phone" placeholder="Phone"
          required>
        </ion-input>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>